<li>
  <%= link_to kitten.name, kitten %> ( <%= "#{kitten.age} years old | #{kitten.cuteness}, #{kitten.softness}" %> ),
  <%= link_to "delete", kitten, method: :delete, data: { confirm: "Are you sure?" } %>,
  <%= link_to "edit", edit_kitten_path(kitten) %>
</li>